#### Soru 2:
+ Elimizde çok sayıda e-mail adresi var. Bu adreslerin sahiplerinin hangilerinin aynı firmada çalıştığını bulmak için nasıl bir yol izlersiniz?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("mailler.txt")
df

   ID                  EMAIL
0   1  deniz@sadeyazilim.com
1   2  kadir@SADEYAZILIM.COM
2   3       kadir@afirma.com
3   4        Ceyda@gmail.com
4   5          ali@gmail.com
5   6  tamer@sadeyazilim.com
6   7   müge@testbank.com.tr

In [23]:
df["is_yeri"] = df["EMAIL"].str.split("@",expand=True)[1].str.split(".com|.COM",expand=True)[0].str.title()
df

   ID                  EMAIL      is_yeri
0   1  deniz@sadeyazilim.com  Sadeyazilim
1   2  kadir@SADEYAZILIM.COM  Sadeyazilim
2   3       kadir@afirma.com       Afirma
3   4        Ceyda@gmail.com        Gmail
4   5          ali@gmail.com        Gmail
5   6  tamer@sadeyazilim.com  Sadeyazilim
6   7   müge@testbank.com.tr     Testbank